# Dependencies
**/node_modules/
**/jspm_packages/

# Build outputs
**/dist/
**/build/
**/out/
**/.next/
**/.nuxt/
**/.svelte-kit/

# Logs
**/logs/
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Environment files
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# OS files
**/.DS_Store
**/Thumbs.db

# IDEs
**/.vscode/
**/.idea/
**/*.swp
**/*.swo

# React Native
**/ios/Pods/
**/ios/DerivedData/
**/android/app/build/
**/android/.gradle/
**/android/build/
**/*.bundle
**/*.map
**/*.hprof
**/.expo/

# Temporary files
**/tmp/
**/temp/

# Android build/keystore ignore
**/android/app/.cxx/
**/android/.cxx/
**/*.keystore